.loader {
    border: 15px solid #f3f3f3;
    border-radius: 50%;
    border-top: 15px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin-top: 200px;
  }

  @keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}

body{
background-color: black;
font-family: "Courier New";
color: rgb(200, 255, 200);
}

p{
    margin-top: 40px;
}