body{
    font-family: "Courier New";
    background-color: black;
    color: rgb(200, 255, 200);
}


.h-1{
    margin-top: 100px;
    font-size: 35;
    font-weight: bolder;
}

input{
    margin-top: 15px;
    width: 250;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.952);
    border-radius: 5px;
    font-family: 'Courier New';
}

input.added{
    width: 350px;
    height: 70px;
}

input.submit{
    background-color: rgb(0, 78, 0);
    color: rgb(200, 255, 200);
    padding: 10px 24px;
    font-weight: bolder;
    letter-spacing: 5px;
    cursor: pointer;
    margin-top: 40px;
}

::placeholder{
    color: rgb(143, 143, 143);
}


label{
    margin-top: 50px;
}

input, label {
    display:block;
}

div.menu{
    margin-top: 100px;
}